// ===================================
// MIXINS
// ===================================

@mixin text-line-height($multiplier) {
  $increase: $multiplier * 0.05;

  line-height: 1 + $increase;
}

@mixin text-font-size($multiplier) {
  $increase: $multiplier * 0.05;

  font-size: 1.1 + $increase + 0rem;

  @media (min-width: theme('screens.md')) {
    font-size:  1.15 + $increase + 0rem;
  }

  @media (min-width: theme('screens.lg')) {
    font-size:  1.1 + $increase + 0rem;
  }

  @media (min-width: theme('screens.xl')) {
    font-size: 1.15 + $increase + 0rem;
  }

  @media (min-width: theme('screens.2xl')) {
    font-size: 1.2 + $increase + 0rem;
  }
}

@mixin heading-font-size($multiplier, $heading: false) {
  $increase: $multiplier * 0.05;

  @if $heading == h3 {
    font-size: 0.5 + $increase + 0rem;

    @media (min-width: theme('screens.md')) {
      font-size:  0.6 + $increase + 0rem;
    }
  }
  @else if $heading == h4 {
    font-size: 0.52 + $increase + 0rem;

    @media (min-width: theme('screens.md')) {
      font-size:  0.55 + $increase + 0rem;
    }
  } @else {
    font-size: 0.25 + $increase + 0rem;

    @media (min-width: theme('screens.md')) {
      font-size:  0.4 + $increase + 0rem;
    }
  }

  @media (min-width: theme('screens.lg')) {
    font-size:  0.65 + $increase + 0rem;
  }

  @media (min-width: theme('screens.xl')) {
    font-size: 0.8 + $increase + 0rem;
  }

  @media (min-width: theme('screens.2xl')) {
    font-size: 1 + $increase + 0rem;
  }
}

@mixin markdown-heading-font-size($multiplier, $code, $heading: false) {
  @include heading-font-size($multiplier, $heading);

  code {
    @include heading-font-size($code + 3, $heading);

    @media (min-width: theme('screens.md')) {
      @include heading-font-size($code + 1, $heading);
   }

    @media (min-width: theme('screens.lg')) {
       @include heading-font-size($code, $heading);
    }
  }
}

@mixin heading-line-height($multiplier) {
  @include text-line-height($multiplier);
}

// ===================================
// VARIATIONS
// ===================================

.sm-markdown.sm-markdown-text-1 {
  @include text-font-size(1);
}

.sm-markdown.sm-markdown-text-3 {
  @include text-font-size(5);
}

// ===================================
// BASE STYLE
// ===================================

.sm-markdown{
  @apply text-ink;

  @include text-line-height(10);
  @include text-font-size(0);

  @media (min-width: theme('screens.md')) {
    @include text-line-height(12);
  }

  ol, ul {
    @apply pl-8 space-y-3;
  }

  ul {
    @apply text-ink-50 list-disc;
  }

  ol {
    @apply list-decimal;
  }

  // Code Block (slightly less than <p>)
  .nuxt-content-highlight {
    @apply mt-6;

    & + .nuxt-content-highlight {
      @apply mt-7;

      @media (min-width: theme('screens.md')) {
        @apply mt-9;
      }

      @media (min-width: theme('screens.xl')) {
        @apply mt-11;
      }
    }

    // Italics after code block (ex. Thanks: ...)
    // - "mt" slightly less than <p>
    & + p > em {
      @apply -mt-7 block text-right pr-2 opacity-80;

      // Size slightly smaller than <p>
      @include text-font-size(-4);

      @media (min-width: theme('screens.md')) {
        @apply -mt-9;
      }

      @media (min-width: theme('screens.2xl')) {
        @apply -mt-11;
      }
    }
  }

  p, ul, ol, iframe, table, blockquote,
  .markdown-image,
  .markdown-image + .nuxt-content-highlight {
    @apply mt-8;

    @media (min-width: theme('screens.md')) {
      @apply mt-10;
    }

    @media (min-width: theme('screens.2xl')) {
      @apply mt-12;
    }
  }

  p + ul {
    @apply mt-5;

    @media (min-width: theme('screens.md')) {
      @apply mt-8;
    }

    @media (min-width: theme('screens.xl')) {
      @apply mt-10;
    }
  }

  p:first-child {
    @apply mt-0;
  }

  a {
    @apply text-fuscia hover:underline;
  }

  code {
    @apply text-purple-dark bg-gray-lightest font-mono py-0.5 px-0.5 mx-0.5;
  }

  blockquote {
    border-left-width: 6px;

    @apply bg-gray-lightest border-gray-dark py-7 px-5;
  }

  h1, h2, h4, h5, h6 {
    @apply font-black text-ink-50;
  }

  h1 {
    @include markdown-heading-font-size(33, 25);
    @include heading-line-height(5);
  }

  h2 {
    --sm-h2-margin-top: theme('spacing.14');

    @apply mb-7;
    @include markdown-heading-font-size(28, 19);
    @include heading-line-height(6);

    padding-top: var(--navbar-height);
    margin-top: calc(var(--sm-h2-margin-top) - var(--navbar-height));

    @media (min-width: theme('screens.md')) {
      --lg-h2-margin-top: theme('spacing.16');

      padding-top: var(--navbar-height);
      margin-top: calc(var(--lg-h2-margin-top) - var(--navbar-height));
    }

    @media (min-width: theme('screens.xl')) {
      --xl-h2-margin-top: theme('spacing.20');

      padding-top: var(--navbar-height);
      margin-top: calc(var(--xl-h2-margin-top) - var(--navbar-height));
    }
  }

  h3 {
    --sm-h3-margin-top: theme('spacing.12');

    @apply text-ink-light mb-6 font-extrabold;
    @include markdown-heading-font-size(19, 14, h3);
    @include heading-line-height(6);

    padding-top: var(--navbar-height);
    margin-top: calc(var(--sm-h3-margin-top) - var(--navbar-height));

    @media (min-width: theme('screens.md')) {
      --lg-h3-margin-top: theme('spacing.14');

      padding-top: var(--navbar-height);
      margin-top: calc(var(--lg-h3-margin-top) - var(--navbar-height));
    }

    @media (min-width: theme('screens.xl')) {
      --xl-h3-margin-top: theme('spacing.16');

      padding-top: var(--navbar-height);
      margin-top: calc(var(--xl-h3-margin-top) - var(--navbar-height));
      @apply mb-5;
    }
  }

  h4 {
    --sm-h4-margin-top: theme('spacing.9');

    padding-top: var(--navbar-height);
    margin-top: calc(var(--sm-h4-margin-top) - var(--navbar-height));

    @apply mb-5;
    @include markdown-heading-font-size(13, 9, h4);
    @include heading-line-height(8);

    @media (min-width: theme('screens.md')) {
      --lg-h4-margin-top: theme('spacing.10');

      padding-top: var(--navbar-height);
      margin-top: calc(var(--lg-h4-margin-top) - var(--navbar-height));
    }

    @media (min-width: theme('screens.xl')) {
      --xl-h4-margin-top: theme('spacing.12');

      padding-top: var(--navbar-height);
      margin-top: calc(var(--xl-h4-margin-top) - var(--navbar-height));
    }

    @media (min-width: theme('screens.2xl')) {
      --xl-h4-margin-top: theme('spacing.14');

      padding-top: var(--navbar-height);
      margin-top: calc(var(--xl-h4-margin-top) - var(--navbar-height));
    }
  }

  table {
    @apply min-w-full table-auto text-left divide-y divide-gray-light border-b border-gray-light;
  }

  thead {
    @apply bg-purple-lightest border border-purple-lightest border-b;
  }

  thead th {
    @apply py-2 px-4 text-left font-medium tracking-wider;
  }

  tbody {
    @apply divide-y divide-gray-light border border-gray;
  }

  tbody td {
    @apply py-2 px-4 whitespace-nowrap;
  }

  // Size slightly smaller than <p>
  p code { // inline code
    @include text-font-size(-3);
  }

  .sm-markdown-table {
    // Reference > https://github.com/twbs/bootstrap/blob/main/scss/_tables.scss
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }

  // .sm-markdown-toc + h2 {
  //   padding-top: var(--navbar-height);
  //   margin-top: calc(1em - var(--navbar-height));
  // }

  .sm-markdown-toc ul {
    @apply list-none pl-0;
  }

  #resources + ul {
    @apply pl-6;

    // Size slightly smaller than <p>
    @include text-font-size(-1);

    li {
      line-height: 1.2;
    }
  }

  h2 + h3,
  h2 + h4,
  h2 + h5,
  h2 + h6 {
    padding-top: var(--navbar-height);
    margin-top: calc(1.2rem - var(--navbar-height));

    @media (min-width: theme('screens.md')) {
      padding-top: var(--navbar-height);
      margin-top: calc(1.4rem - var(--navbar-height));
    }

    @media (min-width: theme('screens.lg')) {
      padding-top: var(--navbar-height);
      margin-top: calc(1.6rem - var(--navbar-height));
    }

    @media (min-width: theme('screens.xl')) {
      padding-top: var(--navbar-height);
      margin-top: calc(1.8rem - var(--navbar-height));
    }

    @media (min-width: theme('screens.2xl')) {
      padding-top: var(--navbar-height);
      margin-top: calc(2rem - var(--navbar-height));
    }
  }

  hr + *,
  h2 + *,
  h3 + *,
  h4 + *,
  h5 + *,
  h6 + * {
    margin-top: 0;
  }

  // Reference: https://github.com/vuejs/vuepress/blob/64e92ca6a14a4778c7801ee2b5625e0b89727f5d/packages/%40vuepress/theme-default/styles/code.styl

  $languages: 'js', 'ts', 'html', 'md', 'vue', 'css', 'sass', 'scss', 'less',
    'stylus', 'go', 'java', 'c', 'sh', 'yaml', 'py', 'docker', 'dockerfile',
    'makefile';

  pre[class*='language-'] {
    text-indent: -4px; // remove leading whitespace
    line-height: 1.6;
    @apply px-5 rounded-md;

    &::before {
      position: absolute;
      top: 0.5rem;
      right: 1rem;
      color: hsla(0, 0%, 100%, 0.4);
    }
  }

  pre[class*='language-'], pre[class*='language-'] code {
    font-size: 0.9rem;

    @media (min-width: theme('screens.md')) {
      font-size: 1rem;
    }
  }

  pre[class*='language-'] code {
    @apply bg-transparent font-normal;
  }

  pre[class~='language-text'] code {
    @apply text-gray-light;
  }

  @each $language in $languages {
    pre[class~='language-#{$language}'] {
      &::before {
        content: $language;
      }
    }
  }

  pre[class~='language-javascript'] {
    &::before {
      content: 'js';
    }
  }

  pre[class~='language-typescript'] {
    &::before {
      content: 'ts';
    }
  }

  pre[class~='language-markup'] {
    &::before {
      content: 'html';
    }
  }

  pre[class~='language-markdown'] {
    &::before {
      content: 'md';
    }
  }

  pre[class~='language-json']::before {
    content: 'json';
  }

  pre[class~='language-ruby']::before {
    content: 'rb';
  }

  pre[class~='language-python']::before {
    content: 'py';
  }

  pre[class~='language-bash']::before {
    content: 'sh';
  }

  pre[class~='language-php']::before {
    content: 'php';
  }
}
