.-col-end-1 {
  grid-column-end: -1;
}

.shadow-dark {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.4), 0 1px 2px 0 rgba(0, 0, 0, 0.09);
}

// .shadow-md-dark {
//   box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.4), 0 2px 4px -1px rgba(0, 0, 0, 0.09);
// }

// .shadow-lg-dark {
//   box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.4), 0 4px 6px -2px rgba(0, 0, 0, 0.08);
// }

// .shadow-xl-dark {
//   box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.4), 0 10px 10px -5px rgba(0, 0, 0, 0.07);
// }

// .shadow-2xl-dark {
//   box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.55);
// }

// .container-wide {
//   width: 100%;

//   @media (min-width: theme('screens.lg')) {
//     padding-left: 1%;
//     padding-right: 1%;
//   }
//   @media (min-width: theme('screens.xl')) {
//     padding-left: 3%;
//     padding-right: 3%;
//   }
//   @media (min-width: theme('screens.2xl')) {
//     max-width: 100rem;
//   }
// }

// .max-w-8xl {
//   max-width: 90rem;
// }

// .max-w-9xl {
//   max-width: 100rem;
// }

.max-w-10xl {
  max-width: 110rem;
}
